In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/02 20:36:29 WARN Utils: Your hostname, silverlining.local resolves to a loopback address: 127.0.0.1; using 192.168.0.224 instead (on interface en0)
24/03/02 20:36:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/02 20:36:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [11]:
spark.version

'3.5.1'

In [4]:
df_fhv = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [5]:
import pandas as pd

In [6]:
df_fhv.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   NULL|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   NULL|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   NULL|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   NULL|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   NULL|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   NULL|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   NULL|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   NULL|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [7]:
df_fhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropOff_datetime: string (nullable = true)
 |-- PUlocationID: string (nullable = true)
 |-- DOlocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [8]:
df_fhv_pd = pd.read_csv('fhv_tripdata_2019-10.csv.gz')

In [9]:
df_fhv_pd

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264.0,264.0,NaN,B00009
1,B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264.0,264.0,NaN,B00013
2,B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264.0,264.0,NaN,B00014
3,B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264.0,264.0,NaN,B00014
4,B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264.0,264.0,NaN,B00014
...,...,...,...,...,...,...,...
1897488,B03160,2019-10-31 23:38:00,2019-10-31 23:48:00,242.0,81.0,NaN,B02887
1897489,B03160,2019-10-31 23:11:00,2019-10-31 23:43:00,161.0,28.0,NaN,B02883
1897490,B03160,2019-10-31 23:13:00,2019-10-31 23:41:00,168.0,215.0,NaN,B02883
1897491,B03186,2019-10-31 23:02:32,2019-10-31 23:09:53,264.0,119.0,NaN,B03186
1897492,B03186,2019-10-31 23:19:24,2019-10-31 23:24:31,264.0,119.0,NaN,B03186

In [10]:
df_fhv_pd.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [11]:
spark.createDataFrame(df_fhv_pd)

DataFrame[dispatching_base_num: string, pickup_datetime: string, dropOff_datetime: string, PUlocationID: double, DOlocationID: double, SR_Flag: double, Affiliated_base_number: string]

In [12]:
df_fhv_pd.iteritems = df_fhv_pd.items

In [13]:
spark.createDataFrame(df_fhv_pd).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [15]:
from pyspark.sql import types

In [16]:
fhv_schema = types.StructType([
types.StructField('dispatching_base_num', types.StringType(), True), 
types.StructField('pickup_datetime', types.TimestampType(), True), 
types.StructField('dropOff_datetime', types.TimestampType(), True), 
types.StructField('PUlocationID', types.IntegerType(), True), 
types.StructField('DOlocationID', types.IntegerType(), True),
types.StructField('SR_Flag', types.DoubleType(), True), 
types.StructField('Affiliated_base_number', types.StringType(), True)])

In [17]:
df_fhv = spark.read \
    .option("header", "true") \
    .schema(fhv_schema) \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [18]:
df_fhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: double (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [21]:
df_fhv \
    .repartition(6) \
    .write \
    .parquet('data/pq/fhv/2019/10') \
    .mode('overwrite')

AnalysisException: [PATH_ALREADY_EXISTS] Path file:/Users/barbaraatkins/dev/projects/data-engineering-zoomcamp/05-batch/code/data/pq/fhv/2019/10 already exists. Set mode as "overwrite" to overwrite the existing path.

In [22]:
df_fhv = spark.read.parquet('data/pq/fhv/2019/10/*')

In [23]:
df_fhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: double (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [25]:
df_fhv.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [28]:
columns = df_fhv.columns

In [30]:
df_fhv.select(columns).show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02594|2019-10-19 12:32:00|2019-10-19 13:03:00|         157|         133|   NULL|                B02594|
|              B00647|2019-10-07 19:26:49|2019-10-07 19:42:43|         264|          78|   NULL|                B00647|
|              B01145|2019-10-20 02:30:04|2019-10-20 02:37:54|         264|         244|   NULL|                B01145|
|              B03060|2019-10-13 18:58:21|2019-10-13 19:11:24|         264|         123|   NULL|                B02888|
|              B02418|2019-10-07 21:40:00|2019-10-07 22:22:00|         264|         264|   NULL|                B00280|
|              B02243|2019-10-18 11:08:00|2019-10-18 14:18:00|         156|         144|   NULL|                LX-188|
|              B02826|2019-10-16 13:20:28|2019-10-16 13:25:06|         264|          97|   NULL|                B02826|
|              B00856|2019-10-12 22:25:05|2019-10-12 22:48:59|         264|          91|   NULL|                B02875|
|     B02462         |2019-10-08 20:24:59|2019-10-08 20:33:54|          92|          92|   NULL|       B02462         |
|              B00221|2019-10-25 09:33:01|2019-10-25 09:45:16|         264|         119|   NULL|                B00221|
|              B01145|2019-10-25 14:53:10|2019-10-25 15:11:20|         264|          69|   NULL|                B01145|
|              B01877|2019-10-08 00:51:51|2019-10-08 00:51:56|         264|         264|   NULL|                B00306|
|              B03016|2019-10-22 06:09:38|2019-10-22 06:16:19|         264|         174|   NULL|                B02932|
|              B02546|2019-10-28 17:48:24|2019-10-28 17:55:10|         264|         248|   NULL|                B02546|
|              B01239|2019-10-20 20:50:19|2019-10-20 21:09:26|         264|          69|   NULL|                B02682|
|              B02429|2019-10-08 15:18:16|2019-10-08 16:14:26|         264|         264|   NULL|                B02875|
|              B01340|2019-10-31 23:22:38|2019-10-31 23:25:52|         264|         213|   NULL|                B01340|
|              B01318|2019-10-28 08:56:46|2019-10-28 09:15:15|         264|         164|   NULL|                B01318|
|              B00856|2019-10-12 11:16:53|2019-10-12 11:22:15|         264|         155|   NULL|                B00856|
|              B02157|2019-10-13 09:01:37|2019-10-13 10:06:37|         264|         265|   NULL|                B02157|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [33]:
df_fhv.registerTempTable('fhv_trips_data')

In [43]:
spark.sql('''
          SELECT count(*) FROM fhv_trips_data WHERE DATE(pickup_datetime) = '2019-10-15'
          ''').show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

In [47]:
spark.sql('''
          SELECT pickup_datetime, dropoff_datetime, (unix_timestamp(dropoff_datetime)-unix_timestamp(pickup_datetime))/(3600) FROM fhv_trips_data
          ORDER BY 3 desc
          
          ''').show()

+-------------------+-------------------+-----------------------------------------------------------------------------------------------------------------------+
|    pickup_datetime|   dropoff_datetime|((unix_timestamp(dropoff_datetime, yyyy-MM-dd HH:mm:ss) - unix_timestamp(pickup_datetime, yyyy-MM-dd HH:mm:ss)) / 3600)|
+-------------------+-------------------+-----------------------------------------------------------------------------------------------------------------------+
|2019-10-11 18:00:00|2091-10-11 18:30:00|                                                                                                               631152.5|
|2019-10-28 09:00:00|2091-10-28 09:30:00|                                                                                                               631152.5|
|2019-10-31 23:46:33|2029-11-01 00:13:00|                                                                                                      87672.44083333333|
|2019-10-01 21:43:42|2027-10-01 21:45:23|                                                                                                      70128.02805555555|
|2019-10-17 14:00:00|2020-10-18 00:00:00|                                                                                                                 8794.0|
|2019-10-26 21:26:00|2020-10-26 21:36:00|                                                                                                      8784.166666666666|
|2019-10-30 12:30:04|2019-12-30 13:02:08|                                                                                                     1465.5344444444445|
|2019-10-25 07:04:57|2019-12-08 07:54:33|                                                                                                     1057.8266666666666|
|2019-10-25 07:04:57|2019-12-08 07:21:11|                                                                                                     1057.2705555555556|
|2019-10-01 13:47:17|2019-11-03 15:20:28|                                                                                                      794.5530555555556|
|2019-10-01 07:21:12|2019-11-03 08:44:21|                                                                                                      794.3858333333334|
|2019-10-01 13:41:00|2019-11-03 14:58:51|                                                                                                               794.2975|
|2019-10-01 18:43:20|2019-11-03 19:43:13|                                                                                                      793.9980555555555|
|2019-10-01 18:43:46|2019-11-03 19:43:04|                                                                                                      793.9883333333333|
|2019-10-01 07:07:09|2019-11-03 07:58:46|                                                                                                      793.8602777777778|
|2019-10-01 14:49:28|2019-11-03 15:38:07|                                                                                                      793.8108333333333|
|2019-10-01 05:36:30|2019-11-03 06:23:36|                                                                                                                793.785|
|2019-10-01 15:02:55|2019-11-03 15:49:05|                                                                                                      793.7694444444444|
|2019-10-01 06:08:01|2019-11-03 06:53:15|                                                                                                      793.7538888888889|
|2019-10-01 06:41:17|2019-11-03 07:26:04|                                                                                                      793.7463888888889|
+-------------------+-------------------+-----------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [48]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [50]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [51]:
df_zones.registerTempTable('zone_data')

In [52]:
spark.sql('''
          SELECT count(*) FROM zone_data
          ''').show()

+--------+
|count(1)|
+--------+
|     265|
+--------+

In [55]:
spark.sql('''
          SELECT count(*), Zone from fhv_trips_data fhv, zone_data zd 
          WHERE fhv.PUlocationID = zd.LocationID
          GROUP BY Zone
          ORDER BY 1 
          ''').show()

+--------+--------------------+
|count(1)|                Zone|
+--------+--------------------+
|       1|         Jamaica Bay|
|       2|Governor's Island...|
|       5| Green-Wood Cemetery|
|       8|       Broad Channel|
|      14|     Highbridge Park|
|      15|        Battery Park|
|      23|Saint Michaels Ce...|
|      25|Breezy Point/Fort...|
|      26|Marine Park/Floyd...|
|      29|        Astoria Park|
|      39|    Inwood Hill Park|
|      47|       Willets Point|
|      53|Forest Park/Highl...|
|      57|  Brooklyn Navy Yard|
|      62|        Crotona Park|
|      77|        Country Club|
|      89|     Freshkills Park|
|      98|       Prospect Park|
|     105|     Columbia Street|
|     110|  South Williamsburg|
+--------+--------------------+
only showing top 20 rows